<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>caiwen</title>
  <link rel="stylesheet" href="/css/common/font-awesome.min.css">
  <link rel="stylesheet" href="/css/common/bulma.css">
</head>

<body>
  <section class="section is-medium"></section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
        </div>
        <div class="column">
          <div class="box">
            <h1 class="title has-text-centered">
              Login
            </h1>
            <div class="field ">
              <label class="label">Username</label>
              <div class="control has-icons-left ">
                <input class="input" maxlength="30" name="username" placeholder="Please input your username">
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <p class="help is-danger is-hidden"></p>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left ">
                <input class="input " type="password" name='password' maxlength="30" placeholder="Please input your password">
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <p class="help is-danger is-hidden"></p>
            </div>
            <div class="field">
              <div class="control has-text-centered">
                <button class="button is-info is-outlined">Login</button>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
        </div>
      </div>

    </div>
  </section>
  <script type="text/javascript" src="/js/common/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $("input").focusout(function () {
        let wrongMessage = $(this).parent('div').next('p.is-danger');
        if ($(this).val() === "") {
          $(this).addClass("is-danger");
          if (wrongMessage.hasClass("is-hidden")) {
            wrongMessage.removeClass("is-hidden");
          }
          wrongMessage.text("Please input something");
        } else {
          $(this).removeClass("is-danger");
          wrongMessage.addClass("is-hidden");
        }
      });
      $("input[name='username']").focusout(function () {
        let wrongMessage = $(this).parent('div').next('p.is-danger');
        if ($(this).val() === "caiwen") {
          $(this).addClass("is-danger");
          wrongMessage.removeClass("is-hidden");
          wrongMessage.text("你叫蔡文？？");
        }
        // $.post({
        //   url: "/validateUserExists",
        //   success: function (data) {
        //     if (data === "fail") {
        //       $(this).addClass("is-danger");
        //       if ($(this).parent('div').next('p.is-danger').length === 0) {
        //         $(this).parent().after('<p class="help is-danger">Please input something</p>');
        //       }
        //     }
        //   }
        // });
      });
      $("input[name='password']").focusout(function () {
        let wrongMessage = $(this).parent('div').next('p.is-danger');
        if(/(.)\1{5,}/.test($(this).val())) {
          $(this).addClass("is-danger");
          wrongMessage.removeClass("is-hidden");
          wrongMessage.text("密码不可以是重复字符");
        }
      });
    });
  </script>
</body>

</html>