<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.focustech.mic.test.cb.service"/>
    <jms:annotation-driven />

    <bean id="wms2oss" class="org.apache.activemq.command.ActiveMQQueue"
          c:_0="WMS2OSS"/>

    <bean id="oss2wms" class="org.apache.activemq.command.ActiveMQQueue"
          c:_0="OSS2WMS"/>

    <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory"
          p:brokerURL="tcp://192.168.43.22:61600" p:userName="mlan" p:password="mlan1234" lazy-init="true"/>


    <bean id="testConnectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory"
          p:brokerURL="tcp://localhost:61616"/>

    <!--<bean id="messageListener" class="com.focustech.mic.test.cb.listener.ReceiptListListener"/>-->

    <!--<bean id="messageListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">-->
    <!--<constructor-arg>-->
    <!--<bean class="com.focustech.mic.test.cb.listener.MyListenerWithAdapter"/>-->
    <!--</constructor-arg>-->
    <!--</bean>-->

    <!--<bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer"-->
          <!--p:connectionFactory-ref="testConnectionFactory"-->
          <!--p:destination-ref="oss2wms"-->
          <!--p:messageListener-ref="messageListener"-->
    <!--/>-->


    <bean id="jmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="testConnectionFactory"/>
        <property name="concurrency" value="3-10"/>

    </bean>
</beans>