<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="common" fileName="${sys:user.home}/logs/mockWMS.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C Line:%L %logger - %msg%n"/>
    </File>
    <File name="listener" fileName="${sys:user.home}/logs/listener.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C Line:%L %logger - %msg%n"/>
    </File>
    <File name="doMsgSender" fileName="${sys:user.home}/logs/doMsgSender.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C Line:%L %logger - %msg%n"/>
    </File>
    <File name="asnMsgSender" fileName="${sys:user.home}/logs/asnMsgSender.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %C Line:%L %logger - %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="com.focustech.mic.test.cb.mq.sender.DoMsgSender" level="DEBUG">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="doMsgSender"/>
    </Logger>
    <Logger name="com.focustech.mic.test.cb.mq.sender.AsnMsgSender" level="DEBUG">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="asnMsgSender"/>
    </Logger>
    <Logger name="com.focustech.mic.test.cb.mq.listener.WmsMessageListener" level="DEBUG">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="listener"/>
    </Logger>
    <Root level="ERROR">
      <AppenderRef ref="common"/>
    </Root>
  </Loggers>
</Configuration>